@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Home" asp-action="AllAuctions" class="btn btn-primary">View All Auctions</a>
<a asp-controller="Home" asp-action="AllLots" class="btn btn-primary">View All Lots</a>
<a asp-controller="Home" asp-action="AllSellers" class="btn btn-primary">View All Sellers</a>
<a asp-controller="Home" asp-action="CreateAuction" class="btn btn-success">Create Auction</a>
<a asp-controller="Home" asp-action="CreateLot" class="btn btn-success">Create Lot</a>
<a asp-controller="Home" asp-action="CreateSeller" class="btn btn-success">Create Seller</a>